<h1>list des produit</h1>


<table class="table" >
    <thead>
        <tr>
            <th> Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#product of products ">
            <td>{{ product.name }}</td>
            <td><button class="btn btn-danger" (click)="deleteClicked(product['@id'])">Delete</button></td>
            <td><button class="btn btn-r"  (click)="editClicked(product['@id'])">Edit</button></td>        </tr>
    </tbody>
</table>

<hr/>
<button class="btn btn-info" (click)="addClicked()">Add product</button>
<div [hidden]="!active">
    <product-form (added)="getList()"></product-form>
</div>

<div [hidden]="!activeEdit">
    <product-edit [idProduct]="idProductSelected" (edited)="getList()"></product-edit>
</div>
